.form__container {
  min-height: 100vh;
  place-items: center;
  background-color: var(--first-color);
}

.content {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content {
    width: 400px;
    height: 400px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 12px 24px var(--shadow-color);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

@media screen and (min-width: 768px) {
  form {
    width: 100%;
  }
}

.title {
  font-size: 18px;
}

.subtitle {
  font-size: 14px;
}

.subtitle span {
  color: var(--first-color);
  font-weight: var(--font-bold);
}

input[type="submit"] {
  width: 100%;
  border-radius: 0.5rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav__link .auth__link {
  color: var(--first-color);
  font-size: 12px;
}
