.forgotPassword__title {
  font-size: 18px;
}

.forgotPassword__subtitle {
  font-size: 14px;
}

.forgotPassword__subtitle span {
  color: var(--first-color);
  font-weight: var(--font-bold);
}

.forgotPassword__nav-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgotPassword__nav-link .forgotPassword__auth-link {
  color: var(--first-color);
  font-size: 12px;
}
