.field {
  padding-inline: 1rem;
  padding-block: 2rem 0.5rem;
  border: 1px solid var(--first-color-light);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: border 0.2s;
}

.field .label {
  position: absolute;
  cursor: text;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.2s, font-size 0.2s;
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
}

.field .input {
  &::placeholder {
    color: transparent;
  }
}

.field input:focus ~ .label,
.field input:not(:placeholder-shown) ~ .label {
  position: absolute;
  top: 30%;
  font-size: var(--small-font-size);
}

.input[type="submit"] {
  width: 100%;
  border-radius: 0.5rem;
}