.login {
  place-items: center;
}

.login__title {
  font-size: var(--h1-font-size);
  text-align: center;
}

.login__subtitle {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1rem;
  color: var(--text-color-light);
  font-weight: var(--font-thin);
}

.login__mode {
  margin-top: 5rem;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .login__mode {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 6rem;
  }
}

.login__button-container {
  row-gap: 1rem;
}

.login__divisor {
  height: 0;
  width: 100%;
  position: relative;
  border-top: 1px solid var(--first-color-light);
}

.login__divisor span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  padding-inline: 1rem;
  background-color: var(--body-color);
}

@media screen and (min-width: 768px) {
  .login__divisor {
    display: none;
  }
}

.login__forgotPassword-link {
  margin-top: 3rem;
  font-size: 1.25rem;
  color: var(--text-color-light);
  font-weight: var(--font-regular);
  transform: color 0.2s;
}

.login__forgotPassword-link:hover {
  color: var(--first-color);
}
