.forgotPassword__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .forgotPassword__form {
    width: 100%;
  }
}

.forgotPassword__form input[type="submit"] {
  width: 100%;
  border-radius: 0.5rem;
}