.newPasswordForm__title {
  font-size: 18px;
}

.newPasswordForm__subtitle {
  font-size: 14px;
}

.newPasswordForm__subtitle span {
  color: var(--first-color);
  font-weight: var(--font-bold);
}

.newPasswordForm__form {
  width: 320px;
  row-gap: 1rem;
}

.newPasswordForm__form input[type="submit"] {
  width: 100%;
  border-radius: 0.5rem;
}
