.newPasswordForm__container {
  min-height: 100vh;
  place-items: center;
  background-color: var(--first-color);
}

.newPasswordForm__content {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .newPasswordForm__content {
    width: 400px;
    height: 400px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 12px 24px var(--shadow-color);
  }
}

.newPasswordForm__title {
  font-size: 18px;
}

.newPasswordForm__subtitle {
  font-size: 14px;
}

.newPasswordForm__subtitle span {
  color: var(--first-color);
  font-weight: var(--font-bold);
}

.newPasswordForm__form {
  width: 320px;
  row-gap: 1rem;
}

.newPasswordForm__form input[type="submit"] {
  width: 100%;
  border-radius: 0.5rem;
}
